@tailwind base;
@tailwind components;
@tailwind utilities;

.perspective {
  perspective: 1000px;
}

.card-front-back {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.backface-hidden {
  backface-visibility: hidden;
}

.group-hover\:rotate-y-180:hover .card-front-back {
  transform: rotateY(180deg);
}